header{
    background-color: #eaaf46;
    height: 126px;
}
.container {
    max-width: 852px;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
h1{
    color: #eaaf46;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 0;
}
.headerlogo {
    padding: 16px 0px 0px 44px;
}
.headerlogo img{
    max-width: 100%;
}
.content-title p{
    color: #000000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.content-image {
    max-width: 696px;
    max-height: 371px;
    margin: 0 auto;
    overflow: hidden;    
}
.content-image img{
    width: 100%;
    margin-top:-170px;
}
.content-news {
    max-width: 696px;
    margin: 0 auto;
    margin-top: 53px;
}
.content-news__block{
    margin-bottom: 41px;
}
.content-news h2{
    color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.content-news__img {
    max-width: 336px;
    max-height: 225px;
    overflow: hidden;
}
.content-news__img img{
    width: 100%;
}
.content-news__text h3{
    color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}
.content-news__text p{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: "Arial MT";
    }
.btn-primary{
    width: 186px;
    height: 43px;
    border-radius: 10px;
    background-color: #eaaf46;
    color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
}
.btn-primary:hover{
    background-color: #ffa200;
}
.btn-primary:focus{
    background-color: #ffa200;
}
.footer-top {
    background-color: #eaaf46;
    }
.footer-top p{
    padding-top: 37px;
    color: #000000;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
.social-links1 {
    padding-bottom: 20px;
}
.social-links1 a:hover{
    text-decoration: none;
}
.social-links1 i:hover{
    color: #006eff;
    transition: all 200ms ease;
}
.footer-bottom {
height: 90px;
}
.footer-bottom a{
    line-height: 90px;
    color: #000000;
    font-family: "Arial MT";
    margin: 0 15px;
    white-space: nowrap;
}
.fa{
    font-size: 30px;
    color: black;
}

@media (max-width: 420px){
    .headerlogo{
        padding: 16px 0px 0px 0px;
    }
    .content-image img{
        margin-top: 0;
    }
}